* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1C1E26;
}

.test {
    border: 1px purple solid;
}

/* Flex & Container */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Navbar */

#navbar {
    padding: 40px;
    background-color: #454C68;
}

#navbar .nav {
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#navbar a:hover {
    color: #bebebe;
}

#navbar .item {
    font-size: 30px;
    margin: 0px 20px 0px 20px;
}

/* Searchbar */

#searchbar {
    margin-right: 20px;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}

#searchbar .search {
    color: black;
    background-color: white;
    margin-left: -20px;
}

#searchbar input {
    background-color: white;
    padding: 10px;
    border: none;
    width: 800px;
}