* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1C1E26;
}

a {
    text-decoration: none;
}

.dev {
    border: 1px purple solid;
}

/* CSS Grids */

.grid-container


/* Navbar */
#navbar {
    background-color: #454C68;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#nav {
    align-items: center;
}

.search input ::placeholder {
    color: black !important;
}

#navbar a {
    color: white;
    font-size: 25px;
    transition: color .2s;
}

#navbar a:hover {
    color: #a1a1a1;
    transition: color .2s;
}

#navbar .item {
    margin: 0px 10px 0px 10px;
}


/* Searchbar */

#searchbar {
    margin-right: 60px;
    margin-left: 60px;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}

#searchbar .search {
    color: black;
    background-color: white;
    margin-left: -30px;
    transition: color .2s;
}

#searchbar .search:hover {
    color: #808080;
    transition: color .2s;
}

#searchbar input {
    background-color: white;
    font-size: 16px;
    color: black;
    padding: 10px;
    border: none;
    width: 700px;
    border-radius: 10px;
}

/* Account */

.playbox {
    padding-top: 20px;
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.playbox p {
    font-size: 20px;
    margin-top: 50px;
    font-weight: 300;
}

#accNav a {
    display: block;
    color: white;
    text-decoration: none;
}

#accNav, #accInfo, #accSell, #accHistory {
    padding: 20px;
    color: white;
}

#accInfo, #accSell, #accHistory {
    width: 600px;
}

#accNav {
    width: 300px;
}

#accNav, #accInfo {
    height: 500px;
}
#accSell, #accHistory {
    height: 200px;
}

/* Create Account / Login Page */

#caLogin, #caRegister {
    width: 45%;
    color: white;
}

#caLogin h2, #caRegister h2 {
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 30px;
}

input {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px white solid;
}

::placeholder {
    color: white;
    font-size: 17px;
}

#caLogin .button, #caRegister .button {
    position: relative;
}

.submitButton {
    padding: 5px;
    width: 200px;
    background-color: #1C1E26;
    text-align: center;
    color: white;
    border-radius: 2px;
}

#caLogin .panel, #caRegister .panel {
    height: 70%;
    padding: 50px;
}

/* Contact Page */

.contact input, select, textarea {
    width: 300px;
    resize: vertical;
}

.contact textarea {
    border-radius: 20px;
    width: 96%;
    margin-top: 20px;
    padding: 10px;
    height: 100px;
    margin-bottom: 20px;
}

.contact textarea::placeholder {
    color: black;
    font-size: 17px;
}

.fb-item .fab, .fas {
    color: #1C1E26;
    font-size: 60px;
    margin: 10px;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    text-align: center;
}

/* Results */

.results input {
    width: 100px;
}

/* Other */

.panel {
    background-color: #454C68;
    border-radius: 20px;
    padding: 30px;
}

/* Viewports */

@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
    .fb-container {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    #searchbar input {
        width: 220px;
    }

    #navbar .items {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .fb-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #searchbar input {
        width: 220px;
    }

    #navbar .items {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .fb-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #searchbar input {
        width: 220px;
    }

    #navbar .items {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .fb-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #searchbar input {
        width: 220px;
    }

    #navbar .items {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
}