* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1C1E26;
    height: 2000px;
}

.test {
    border: 1px purple solid;
}

/* Flex & Container */

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.col {
    flex-direction: row; 
}

/* Navbar */

#navbar {
    padding: 40px;
    background-color: #454C68;
}

#navbar .nav {
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: color .2s;
}

#navbar a:hover {
    color: #bebebe;
    transition: color .2s;
}

#navbar .item {
    font-size: 30px;
    margin: 0px 20px 0px 20px;
}

/* Searchbar */

#searchbar {
    margin-right: 60px;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}

#searchbar .search {
    color: black;
    background-color: white;
    margin-left: -30px;
    transition: color .2s;
}

#searchbar .search:hover {
    color: #808080;
    transition: color .2s;
}

#searchbar input {
    background-color: white;
    font-size: 16px;
    color: #d3d3d3;
    padding: 10px;
    border: none;
    width: 800px;
    border-radius: 10px;
}

/* Game Section */

.image {
    padding: 0px;
}

.game {
    padding: 50px;
}

.game .panel {
    background-color: #454C68;
}

.game .other, .title {
    padding: 0px 10px 0px 10px;
    color: white;
}

.game .other {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.game .other a {
    color: white;
    transition: color .2s;
}

.game .other a:hover {
    color: #808080;
    transition: color .2s;
}

.game .title > h5{
    color: white;
    font-weight: 200;
    font-size: 20px;
}

/* Viewports */

@media (max-width: 575px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 767px) {

}

@media (max-width: 991px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 1399px) {

}